<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Offline Version - Jason Early - Digital Product Consultant</title>
    <meta
      name="description"
      content="The offline version of jasonearly.com. You'll see offline accessable pages of the site collected here."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Open Graph -->
      <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/thumbs/{{ page.image }}" />
    <meta property="og:site_name" content="Jason Early">
    <!-- <meta property="article:publisher" content="https://www.facebook.com/" />
    <meta property="article:author" content="https://www.facebook.com/" /> -->
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Twitter Card -->
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
      <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
      <meta name="twitter:site" content="@jason_early" />
      <meta name="twitter:creator" content="@jason_early">
      <meta name="twitter:card" content="summary">


<style media="screen">
  body {font-size: 18px;}

</style>
  </head>
  <body>
    <h1>You apprear to be offline.</h1>
    <!-- <p>Something went wrong.</p> -->
    <p>You can still read these pages though.</p>
    <ul id="history"></ul>

    <p>
      Do you want this type of usability on your own site? Visit
      <a href="https://langdondigital.com">langdondigital.com</a> and reserve a
      project consultation.
    </p>

    <p>
      Jason Early is the Founder of <a href="https://gruntmonkey.com/">gruntmonkey</a> and Principal at <a href="https://langdondigital.com/">Langdon Digital</a>, a design
      consultancy that specializes in helping clients build brand awareness and gain new customers.
    </p>

    <script type="text/javascript">
      // open the cache of pages
      caches.open("pages").then(pagesCache => {
        pagesCache.keys().then(keys => {
          let markup = "";
          // loop through each item in the cache
          keys.forEach(request => {
            // make a link to the url of each page
            markup += `<li><a href="${request.url}"> ${request.url} </a></li>`;
          });
          // display the list of links
          document.getElementById("history").innerHTML = markup;
        }); // end keys then
      }); // end open
    </script>
  </body>
</html>
