<section class="container-fluid book">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <h6>
        LEARN
      </h6>
      <h2>
        GROW A HEALTHY DESIGN TEAM
      </h2>
      <p>
        Proper critique is missing from modern design teams. In this brief guide
        I provide my guidelines for effective design critique in the hope that
        properly structured critique is included in more professional design
        processes.
      </p>
      <a
        href="https://training.gruntmonkey.com/design-critique-guidelines"
        class="btn btn-primary book-cta"
        title="Learn more about Design Critique Guidelines"
      >
        Learn More
      </a>
    </div>

    <div class="col-sm-4" style="text-align: center;">
      <img
        src="{{ '/img/book.png' | prepend: site.baseurl }}"
        alt="Book Cover of
      Design Critique Guidelines"
      />
    </div>
  </div>
</section>
