<div class="row" style="padding-top:50px;">
  <div class="col-sm-offset-1 col-md-6 col-md-offset-3">
    <div class="hidden-xs col-sm-2 col-md-2" style="margin-top: 0px;">
      <img
        src="img/profile.jpg"
        class="img-circle img-responsive"
        alt="profile image of Jason Early"
      />
    </div>
    <div class="col-sm-10" style="margin-top: 0px;">
      <div class="row">
        <div class="col-sm-10 col-md-12" style="margin-top: 0px;">
          <p class="byline">
            Jason Early is the Founder of <a href="http://gruntmonkey.com/">gruntmonkey</a> and Principal at <a href="https://langdondigital.com/">Langdon Digital</a>, a design
            consultancy that specializes in helping clients build brand awareness and gain new customers.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="social-btns">
            <a href="https://twitter.com/jason_early"> </a>
            <a href="https://www.linkedin.com/in/jsonerly"> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
