
<section class="clients">
	<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <!-- <h3>Select Clients</h3> -->
			<header class="post-header">
					<h3 class="post-title">Experience</h3>
			</header>
      <p>During my career I've had the pleasure of working with teams and individuals within these fine organizations.</p>
    </div>
  </div>

  <div class="row text-center">
		    <div class="col-md-10 col-md-offset-1">
   <div class="col-md-2">
     <img src="../img/logo-Amazon_Web_Services.png">
   </div>
   <div class="col-md-2">
     <img src="../img/logo-Apple.png">
   </div>
   <div class="col-md-2">
     <img src="../img/logo-BLOC.png">
   </div>
	 <div class="col-md-2">
		 <img src="../img/logo-Boeing.png">
	 </div>
	 <div class="col-md-2">
		 <img src="../img/logo-Deloitte.png">
	 </div>
	 <div class="col-md-2">
     <img src="../img/logo-Evernote.png">
   </div>
 </div>
 </div>

 <div class="row spacer text-center">
	 	  <div class="col-md-10 col-md-offset-1">
   <div class="col-md-2">
     <img src="../img/logo-Facebook.png">
   </div>
   <div class="col-md-2">
     <img src="../img/logo-GE-transportation.png">
   </div>
	 <div class="col-md-2">
		 <img src="../img/logo-general_assembly.png">
	 </div>
	 <div class="col-md-2">
		 <img src="../img/logo-Google.png">
	 </div>
	 <div class="col-md-2">
		 <img src="../img/logo-Hallmark.png">
	 </div>
	 <div class="col-md-2">
		 <img src="../img/logo-Hired.png">
	 </div>
 </div>
 </div>

 <div class="row spacer text-center">
	 	    <div class="col-md-10 col-md-offset-1">

	 <div class="col-md-2">
		 <img src="../img/logo-motorola.png">
	 </div>
	<div class="col-md-2">
		<img src="../img/logo-Oracle.png">
	</div>
	<div class="col-md-2">
		<img src="../img/logo-Paypal.png">
	</div>
	<div class="col-md-2">
		<img src="../img/logo-starter_league.png">
	</div>
	<div class="col-md-2">
		<img src="../img/logo-Uber.png">
	</div>
	<div class="col-md-2">
		<img src="../img/logo-Verizon.png">
	</div>
 </div>
 </div>

</section>

</div>
