
<section class="clients">
	<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <!-- <h3>Select Clients</h3> -->
			<header class="post-header">
					<h3 class="post-title">Experience</h3>
			</header>
      <p>During my career I've had the pleasure of working with teams and individuals within these fine organizations.</p>
    </div>
  </div>


  <div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1">
   <div class="col-sm-2 hidden-xs">
     <img class="lazy" src="../img/logo-Amazon_Web_Services.png" data-src="../img/logo-Amazon_Web_Services.png">
   </div>
   <div class="col-sm-2">
     <img class="lazy" src="../img/logo-Apple.png" data-src="../img/logo-Apple.png">
   </div>
   <div class="col-sm-2 hidden-xs">
     <img class="lazy" src="../img/logo-BLOC.png" data-src="../img/logo-BLOC.png">
   </div>
	 <div class="col-sm-2 hidden-xs">
		 <img class="lazy" src="../img/logo-Boeing.png" data-src="../img/logo-Boeing.png">
	 </div>
	 <div class="col-sm-2 hidden-xs">
		 <img class="lazy" src="../img/logo-Deloitte.png" data-src="../img/logo-Deloitte.png">
	 </div>
	 <div class="col-sm-2 hidden-xs">
     <img class="lazy" src="../img/logo-Evernote.png" data-src="../img/logo-Evernote.png">
   </div>
 </div>
 </div>

 <div class="row spacer text-center">
	 	  <div class="col-sm-10 col-sm-offset-1">
   <div class="col-sm-2">
     <img class="lazy" src="../img/logo-Facebook.png" data-src="../img/logo-Facebook.png">
   </div>
   <div class="col-sm-2 hidden-xs">
     <img class="lazy" src="../img/logo-GE_Transportation.png" data-src="../img/logo-GE_Transportation.png">
   </div>
	 <div class="col-sm-2 hidden-xs">
		 <img class="lazy" src="../img/logo-General_Assembly.png" data-src="../img/logo-General_Assembly.png">
	 </div>
	 <div class="col-sm-2">
		 <img class="lazy" src="../img/logo-Google.png" data-src="../img/logo-Google.png">
	 </div>
	 <div class="col-sm-2">
		 <img class="lazy" src="../img/logo-Hallmark.png" data-src="../img/logo-Hallmark.png">
	 </div>
	 <div class="col-sm-2 hidden-xs">
		 <img class="lazy" src="../img/logo-Hired.png" data-src="../img/logo-Hired.png">
	 </div>
 </div>
 </div>



 <div class="row spacer text-center">
	 	    <div class="col-sm-10 col-sm-offset-1">

	 <div class="col-sm-2">
		 <img class="lazy" src="../img/logo-Motorola.png" data-src="../img/logo-Motorola.png">
	 </div>
	<div class="col-sm-2">
		<img class="lazy" src="../img/logo-Oracle.png" data-src="../img/logo-Oracle.png">
	</div>
	<div class="col-sm-2 hidden-xs">
		<img class="lazy" src="../img/logo-Paypal.png" data-src="../img/logo-Paypal.png">
	</div>
	<div class="col-sm-2 hidden-xs">
		<img class="lazy" src="../img/logo-Starter_League.png" data-src="../img/logo-Starter_League.png">
	</div>
	<div class="col-sm-2 hidden-xs">
		<img class="lazy" src="../img/logo-Uber.png" data-src="../img/logo-Uber.png">
	</div>
	<div class="col-sm-2">
		<img class="lazy" src="../img/logo-Verizon.png" data-src="../img/logo-Verizon.png">
	</div>
 </div>
 </div>

</section>

</div>
