<!-- global document footer -->

<footer class="site-footer">
  <div class="footer-bio">
    <ul class="contact-list">
      <li>Jason Early | Designer</li>
    </ul>
    <p class="description">
      Jason Early is the Founder of <a href="https://gruntmonkey.com/">gruntmonkey</a> and Principal at <a href="https://langdondigital.com/">Langdon Digital</a>, a design
      consultancy that specializes in helping clients build brand awareness and gain new customers.
    </p>
    <ul class="social-media-list">
      {% if site.github_username %}
      <li>
        <a
          href="https://github.com/{{ site.github_username }}"
          title="Jason Early on Github"
        >
          <i class="fa fa-github"> </i>
        </a>
      </li>
      {% endif %} {% if site.twitter_username %}
      <li>
        <a
          href="https://twitter.com/{{ site.twitter_username }}"
          title="Jason Early on Twitter"
        >
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      {% endif %} {% if site.linkedin_username %}
      <li>
        <a
          href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
          title="Jason Early on Linkedin"
        >
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="https://jasonearly.com/work" title="Jason Early Portfolio">
          <i class="fa fa-briefcase"> </i>
        </a>
      </li>
    </ul>

    <ul class="social-media-list" style="font-size: 1rem;">
      <li><a href="https://jasonearly.com/work/now">Current Work</a></li>
      <li><a href="https://jasonearly.com/experience">Experience</a></li>
      <li><a href="https://jasonearly.com/blog">Blog</a></li>
      <li><a href="https://jasonearly.com/offline.html">Offline</a></li>
    </ul>
  </div>

  <div class="footer-cta">
    <h6>I’m currently accepting students to mentor</h6>
    <!--<a href="https://generalassemb.ly/education/learn-user-experience-design-online" class="btn btn-danger btn-lg" style="color:#fff">Learn from me</a>
                 <a href="https://referrals.trhou.se/jasonearly" target="_blank"><img src="https://static.teamtreehouse.com/assets/content/referral-badge-grn.png"/></a>-->
    <!-- <a href="https://registration.experientevent.com/showhow171/default.aspx?flowcode=attendee%20" title="Register for HOW Design Live in Chicago May 2nd through May 6th.">
                <img src="../img/18916-HDL17_Social-Media-Images_440x220-2-321.jpg" alt="Register for HOW Design Live in Chicago May second through May sixth." style="padding: 20px 20px 0 0;">
              </a> -->
    <!-- Start Square Appointments Embed code -->
    <a
      id="booking"
      target="_top"
      href="https://academy.langdondigital.com/mentorship/"
      rel="follow"
      >Book an Appointment</a
    >
    <!-- href="https://squareup.com/appointments/book/2PQYBSE1QXPQ2/gruntmonkey-llc" -->
    <!-- End Square Appointments Embed code -->
  </div>


</footer>
