<!-- global document head -->
<head>
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-MWDHNZK"></script>
  <meta charset="utf-8" />
  <link rel="preload" href="https://use.typekit.net/ddn7are.js" as="script" />
  <link
    rel="preload"
    href="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    as="script"
  />
  <link
    rel="preload"
    href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    as="script"
  />
  <link
    rel="preload"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    as="script"
  />

  <link
    rel="preload"
    href='{{ "/css/main.css" | prepend: site.baseurl }}'
    as="style"
  />

  <!-- Google Tag Manager -->
  <!-- <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WX24NKM");
  </script> -->
  <!-- End Google Tag Manager -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#5F656A" />
  <title>
    {% if page.title %}
      {{ page.title }} -

    {% endif %}

 {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
   Page {{ paginator.page }} of {{ paginator.total_pages }} -
 {% endif %}

 {{ site.title | escape }}
 {% unless page.tag or site.title %}
   - {{ site.description | escape }}
 {% endunless %}



  </title>

  <!-- <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  /> -->

  <meta
    name="description"
    content="
    {% if page.title %}
      {{ page.title }} -

    {% endif %}
    {% if page.excerpt %}
      {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
    {% endif %}
    {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
      Page {{ paginator.page }} of {{ paginator.total_pages }} -
    {% endif %}

    {{ site.title | escape }}
    {% unless page.tag or site.title %}
      - {{ site.description | escape }}
    {% endunless %}"
  />

  <meta
    name="google-site-verification"
    content="_hcSI4a9uLw4Pjvd7PV6lrmK-XIFQMrsXqFgL4i9b_s"
  />
  <link rel="apple-touch-icon" sizes="192x192" href="../img/logo-192.png" />
  <link rel="apple-touch-icon" sizes="512x512" href="../img/logo-512.png" />
  <style>
    body {
      color: #202020;
    }

    h1 {
      font-family: "source-serif-pro", sans-serif;
      font-size: 4.836em;
      padding: 0.5em 0em 0em;
      margin-bottom: 0.236em;
      line-height: 1em;
      font-weight: 600;
    }
  </style>

  <link rel="manifest" href="/manifest.json" />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> <link
  rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <script>
    (function(d) {
      var config = {
          kitId: "ddn7are",
          scriptTimeout: 3000,
          async: true
        },
        h = d.documentElement,
        t = setTimeout(function() {
          h.className =
            h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout),
        tk = d.createElement("script"),
        f = false,
        s = d.getElementsByTagName("script")[0],
        a;
      h.className += " wf-loading";
      tk.src = "https://use.typekit.net/" + config.kitId + ".js";
      tk.async = true;
      tk.onload = tk.onreadystatechange = function() {
        a = this.readyState;
        if (f || (a && a != "complete" && a != "loaded")) return;
        f = true;
        clearTimeout(t);
        try {
          Typekit.load(config);
        } catch (e) {}
      };
      s.parentNode.insertBefore(tk, s);
    })(document);
  </script>

  {% seo title=false %}
</head>
