<section class="hero">
  <!-- <h1>Hello! I’m Jason Early. A User Experience Designer & Front-End Developer.</h1>
  <h2>Currently I’m a <a href="">UX</a> and <a href="">Frontend Development</a> Mentor.</h2>
  <h3>Previously I’ve worked with NASA, M&M/MARS, Boeing, Google and Motorola.</h3> -->
  <h1>
    Digital Product <br />
    Consultant & Educator
  </h1>
  <h2 style="">
    Currently I’m taking on select clients who want to grow their audience and
    generate more revenue.<br />

    <a
      class="btn btn-primary"
      style="background: #ffa94c;
    font-family: Proxima Nova, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    border: 0;
    color: #fff;
    margin: 2rem 0;"
      href="https://gruntmonkey.com/contact/"
    >
      Reserve your consultation
    </a>

    <small
      style="color: #fff;
    font-weight: 100; font-size:40%;"
    >
      (You'll be taken to my consultancy site)
    </small>
  </h2>
  <h3>
    Previously I’ve worked with NASA, M&M/MARS, Boeing, Google and Motorola.
  </h3>
</section>
