
<section class="clients">
	<div class="container-fluid">
  <div class="row spacer">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3>Mentorship</h3>
      <p>DLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus rhoncus nibh, ut consequat ligula venenatis id. Nunc eu facilisis purus. Curabitur bibendum convallis turpis et pulvinar.</p>
    </div>
  </div>

  <div class="row text-center">
   <div class="col-md-4">
     <img src="img/logos-06.png">
   </div>
   <div class="col-md-4">
     <img src="img/logos-07.png">
   </div>
   <div class="col-md-4">
     <img src="https://placehold.it/312x171" alt="creative go round">
   </div>
 </div>
</section>

</div>
