<nav>
  <div id="nav-left">
    <a href="{{ site.baseurl }}/" title="Back to home">
      <svg
        class="logo"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 600 600"
        enable-background="new 0 0 600 600"
        xml:space="preserve"
      >
        <g>
          <path
            class="logo"
            d="M127.6,549.8V477c0.9,0,2.3,0.1,4.1,0.3c1.8,0.2,5,0,9.6-0.7c4.6-0.7,8.6-2.1,12-4.1c3.4-2.1,6.6-5.9,9.6-11.7
          c3-5.7,4.5-12.7,4.5-20.9V40.2h74.2v411.4c0,30.7-8.8,55.3-26.4,73.8C197.6,543.9,168.4,552,127.6,549.8z"
          />
          <path
            class="logo"
            d="M293.1,544.9V40.2h169.6v76.2h-95.5v132.5H436v81h-68.7v138.7h95.5v76.2H293.1z"
          />
        </g>
      </svg>
    </a>
    <ul class="nav-links pull-right">
      <!-- <li><a href="/services">Work with me</a></li>
      <li><a href="/learn">Learn</a></li> -->
      <li><a href="{{ site.baseurl }}/work/now">Current Work</a></li>
    </ul>
    <!-- <span
      class="menu hidden-xs hidden-sm"
      style="right: 9%; top: 11px; font-weight: 900; color: #555;"
      >MENU</span
    > -->
    <span
      class="menu icon pull-right"
      title="Menu (Esc)"
      tabindex="0"
      data-icon="m"
    ></span>
  </div>

  <div id="navigation">
    <ul>
      <li>
        <span>Experience</span
        ><a
          href="{{ site.url }}/experience"
          class="about"
          title="About me"
          tabindex="-1"
          >About me</a
        >
      </li>
      <li>
        <span>Products I've made</span
        ><a
          href="{{ site.url }}/work"
          class="portfolio"
          title="My Portfolio"
          tabindex="-1"
          >My Portfolio</a
        >
      </li>
      <li>
        <span>Posts & Opinions</span
        ><a
          href="{{ site.url }}/blog"
          class="blog"
          title="My Blog"
          tabindex="-1"
          >My Blog</a
        >
      </li>
    </ul>
  </div>
</nav>
