<section class="project-grid">
  <h3>Latest Work</h3>
  <div class="grid">
    <!-- Grid items will live here -->

    <div class="grid__item">
      <div class="grid-item-container">
        <h2>Marketing Strategy for Wagster Dog Treats</h2>
        <img
          src="{{ '/img/wagster-product.jpg' | prepend: site.baseurl }}"
          alt=""
        />

        <p
          style="
          margin-top: 30px;
    font-size: 1.159em;
    line-height: 1.722169;
    color: #555;
"
        >
          I consulted with the team at Wagster to optimize their Facebook ads
          and increase conversions. This resulted in a substanial growth to
          their newsletter list. A valuable communication channel for any
          organization.
        </p>
        <!-- <a href="#">Read this case study</a> -->
      </div>
    </div>

    <div class="grid__item">
      <div class="grid-item-container">
        <h2>Identity Design for Drifter Life</h2>

        <!-- <a href="#">Read this case study</a> -->
      </div>
    </div>

    <div class="grid__item">
      <div class="grid-item-container">
        <h2>Project title</h2>
        <p>
          Within this project.
        </p>
        <!-- <a href="#">Read this case study</a> -->
      </div>
    </div>
  </div>
</section>
