<section class="project-grid">
   <h3>Project Case Studies</h3>
   <div class="grid">
      <!-- Grid items will live here -->

      <div class="grid__item">
        <div class="grid-item-container">
         <h2>Local Voice Assistant (JARVIS)</h2>
         <!-- <p>
      Within this project, I was responsible for the frontend. It’s written in React.js. Additionally, I've created the HTML and CSS templates.
   </p> -->
         <a href="#">Read this case study</a>
         </div>
      </div>

      <div class="grid__item">
        <div class="grid-item-container">
         <h2>Drifter Life</h2>
         <!-- <p>
            Within this project.
         </p> -->
         <a href="#">Read this case study</a>
      </div>
        </div>

      <div class="grid__item">
        <div class="grid-item-container">
         <h2>res.preview</h2>
         <p>
            Within this project.
         </p>
         <a href="#">Read this case study</a>
      </div>
        </div>


   </div>
</section>
