
<section class="clients">
	<div class="container-fluid">
  <div class="row spacer">
    <div class="col-md-6 col-md-offset-3 text-center">
      <!-- <h3>Projects and Case studies</h3> -->
     <!--  <p>During my career I've had the pleasure of working with teams and individuals within these fine organizations.</p> -->
    </div>
  </div>

  <div class="row text-center">
   <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"> <img src="https://placehold.it/350x350"></div>
      </div>
      <div class="row"> <div class="col-md-6">
        <img src="img/treehouse.png">
      </div>
     <div class="col-md-6">
        <img src="https://jasonearly.com/work/img/vpicon.png">
     </div>
   </div>
      <div class="row">
        <div class="col-md-12">
           <img src="https://jasonearly.com/work/img/indvid.png">
        </div>
      </div>

   </div>

   <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"> <img src="img/codecademy.png"></div>
      </div>
      <div class="row"> <div class="col-md-12">
        <img src="https://jasonearly.com/work/img/phonecase2.jpg">
      </div>
   </div>
      <div class="row">
        <div class="col-md-12">
           <img src="https://placehold.it/350x150">
        </div>
      </div>

   </div>


   <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"> <img src="https://jasonearly.com/work/img/bb01.png"></div>
      </div>
      <div class="row">
        <div class="col-md-12"> <img src="https://jasonearly.com/work/img/id07.png"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <img src="https://jasonearly.com/work/img/TDW1AUS.png">
      </div>
     <div class="col-md-6">
        <img src="https://jasonearly.com/work/img/TDW2finalAUS.png">
     </div>
   </div>
      <div class="row">
        <div class="col-md-12">
           <img src="https://jasonearly.com/work/img/id02.png">
        </div>
      </div>

   </div>

 </div>



</section>

</div>
