<section class="project-grid">
  <h3>Latest Work</h3>
  <div class="grid">
    <!-- Grid items will live here -->

    <div class="grid__item">
      <div class="grid-item-container">
        <h2>Marketing Strategy for Wagster Dog Treats</h2>
        <img
          src="{{ '/img/wagster-product.jpg' | prepend: site.baseurl }}"
          alt="Photo of Wagster Dog Treats on a table"
        />

        <p
          style="
          margin-top: 30px;
    font-size: 1.159em;
    line-height: 1.722169;
    color: #555;
"
        >
          I consulted with the team at
          <a href="https://wagsterdogtreats.com/">Wagster Dog Treats</a> to
          optimize their Facebook ads and increase conversions. This resulted in
          substantial growth to their newsletter list. A valuable communication
          channel for any organization.
        </p>
        <!-- <a href="#">Read this case study</a> -->
      </div>
    </div>

    <div class="grid__item">
      <div class="grid-item-container">
        <h2>Identity Design for Drifter Life</h2>
        <img
          src="{{ '/img/drifterlife.png' | prepend: site.baseurl }}"
          alt="Image of the Drifter Life logo."
        />
        <p
          style="
        margin-top: 30px;
  font-size: 1.159em;
  line-height: 1.722169;
  color: #555;"
        >
          I collaborated with
          <a href="https://brianolson.me/">Brian Olson</a> to direct and develop
          an identity for <a href="https://drifterlife.com/">Drifter Life</a>.
          This resulted in a visual tone for the lifestyle brand as it builds
          out its media content.
        </p>

        <!-- <a href="#">Read this case study</a> -->
      </div>
    </div>

    <div class="grid__item">
      <div class="grid-item-container">
        <h2>Package Design for Small But Mighty Coffee</h2>
        <img
          src="{{ '/img/sbm-package.png' | prepend: site.baseurl }}"
          alt="Explorative rendering of coffee packaging."
        />

        <p
          style="
      margin-top: 30px;
font-size: 1.159em;
line-height: 1.722169;
color: #555;"
        >
          In addition to building out this business, I'm updating the packaging
          of the
          <a href="http://smallbutmighty.coffee/">Small But Mighty Coffee</a>
          line of products.
        </p>
        <!-- <a href="#">Read this case study</a> -->
      </div>
    </div>
  </div>
</section>
