<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="margin-top: 1em;
    background-color: #ffa305;
    color: #2b2b2b;
    height: auto;
    text-transform: uppercase;
    font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 10px 28px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    border: none;"
  id="checkout-button-sku_GwSE0M8Cg9Iouw"
  role="link"
  type="button"
>
  Book an Appointment
</button>

<div id="error-message"></div>

<script>
  (function() {
    var stripe = Stripe("pk_live_v4N7dXJ2PrvE7R3cxPVlsoJj");

    var checkoutButton = document.getElementById(
      "checkout-button-sku_GwSE0M8Cg9Iouw"
    );
    checkoutButton.addEventListener("click", function() {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe
        .redirectToCheckout({
          lineItems: [{ price: "sku_GwSE0M8Cg9Iouw", quantity: 1 }],
          mode: "payment",
          // Do not rely on the redirect to the successUrl for fulfilling
          // purchases, customers may not always reach the success_url after
          // a successful payment.
          // Instead use one of the strategies described in
          // https://stripe.com/docs/payments/checkout/fulfillment
          successUrl: "https://calendly.com/gruntmonkey/30min-meeting",
          cancelUrl: "https://jasonearly.com"
        })
        .then(function(result) {
          if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById("error-message");
            displayError.textContent = result.error.message;
          }
        });
    });
  })();
</script>
