/**
 * Site footer
 */
 footer{
    background-color: $background-color;
 }

.site-footer {
   // border-top: 1px solid $grey-color-light;
   display: flex;
   flex-direction: row;
   width: 100%;
padding: 20px 10vw;
    // padding: $spacing-unit 0;
    background-color: $grey-color-light;

    @media only screen and (max-width: 768px)
     {
       padding-bottom: 0;
       flex-direction: column-reverse;
     }
}

.footer-bio{
  padding-right: 3vw;
  width: 55%;
  margin-right: 5px;
  flex-grow: 1;

  @media only screen and (max-width: 768px)
   {
     width: 100%;
   }
}

.footer-cta{
  background-color: #d7d7d7;
  padding: 2em;
  text-align: center;
  height: 100%;
  flex-grow: 2;

  & #booking{
    margin-top: 1em;
    background-color: #ffa305;
    color: #2b2b2b;
    height: auto;
    text-transform: uppercase;
    font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif;
    letter-spacing: 1px;
    line-height: 17px;
    padding: 10px 28px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
  }
}


.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}
