.project-grid {
  background-color: #e8e8e8;
  padding: 25px 10vw;

  h3 {
    color: #5d6569;
    padding-bottom: 0;
  }
}

/* Grid fallback */

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid */

.grid {
  background-color: #e8e8e8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 100px 100px;
  grid-gap: 20px;

  @media (max-width: 768px) {
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
  }
}

.grid__item {
  // background: no-repeat center center;
  // background:
  //   /* top, transparent red */ linear-gradient(
  //     rgba(0, 0, 0, 0.45),
  //     rgba(0, 0, 0, 0.45)
  //   ),
  //   url(/img/wagster-product.jpg) no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background-color: lightgray;
  padding: 3rem;

  /* Set width to auto */
  width: auto;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

  &:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  }

  &:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  @media (max-width: 425px) {
    grid-column: 1 / 3;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

/* End CSS grid */

.grid-item-container {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow: hidden;
  // border-radius: 20px;
  // box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
  display: grid;
  // grid-template-rows: 0.25fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  z-index: 0;

  a:link {
    align-self: end;
  }
}
