/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  // font-size: 42px;
  // letter-spacing: -1px;
  // line-height: 1;
  padding: 60px 0 0 0;
  font-size: 35px;
  margin: 0;
  font-weight: 300;
  letter-spacing: -1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 4.909em;
  }

  h2 {
    font-size: 2.618em;
    margin-top: 1.875em;

    @include media-query($on-laptop) {
      font-size: 2.119em;
    }
  }

  h3 {
    font-size: 3.034em;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 1.875em;
    margin-top: 1.875em;
    margin-bottom: 1em;

    @include media-query($on-laptop) {
      font-size: 1.31em;
    }
  }
  h5 {
    font-size: 1.875em;
  }

  h6 {
    font-size: 1.875em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin: 25px 0;
    text-transform: none;
    color: #2c3e50;
    line-height: 1.2em;
  }

  ul {
    max-width: 85%;
    margin-top: 0.716em;
  }

  li {
    padding-left: 2.618em;
    margin: 1em 0;
    font-size: 1.1em;
  }

  p {
    margin: 0;
    font-size: 1.159em;
    line-height: 1.722169;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 1em;
  }

  .pro-tip {
    background-color: lighten(#ffa305, 30%);
    padding: 1em;
    border: solid 1px #ffa305;
  }
}

p.byline {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bdc3c7;
  line-height: 20px;
}
