---
layout: default
title: Words
---

<div class="post">
  <div class="row">
    <div class="col-md-12 text-center">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <ul class="blog-index">
        {% for post in paginator.posts %}
        <li>
          <div class="row">
            <div class="col-xs-9 col-sm-9">
              <a href="{{ post.url }}" class="title">{{ post.title }}</a>
            </div>
            <div class="col-md-3">
              <span class="date pull-right"
                >{{ post.date | date: "%b %-d, %Y" }}</span
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ post.excerpt }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a
        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        class="pull-left"
        >&laquo; Newer Posts</a
      >
      {% else %}
      <!-- <span>&laquo; Newer Posts</span> -->
      {% endif %}

      <!-- {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %} -->

      {% if paginator.next_page %}
      <a
        href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        class="pull-right"
        >Older Posts &raquo;</a
      >
      {% else %}
      <!-- <span>Older Posts &raquo;</span> -->
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
