<!DOCTYPE html> <!-- default index template -->
<html>


  {% include head.html %}
<nav class="">
    <div class="site-width">
      <!--      <a href="{{ site.baseurl }}/">
<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
<g><path class="logo" d="M127.6,549.8V477c0.9,0,2.3,0.1,4.1,0.3c1.8,0.2,5,0,9.6-0.7c4.6-0.7,8.6-2.1,12-4.1c3.4-2.1,6.6-5.9,9.6-11.7c3-5.7,4.5-12.7,4.5-20.9V40.2h74.2v411.4c0,30.7-8.8,55.3-26.4,73.8C197.6,543.9,168.4,552,127.6,549.8z"/><path class="logo" d="M293.1,544.9V40.2h169.6v76.2h-95.5v132.5H436v81h-68.7v138.7h95.5v76.2H293.1z"/></g></svg>

</a>-->
      <a href="http://twitter.com/alexcican" target="_blank">Jason Early</a>

      <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>
    </div>

    <div id="navigation">
      <ul>
        <li><span>Expereince</span><a href="#" class="about" title="About me" tabindex="-1">About me</a></li>
        <li><span>Products I've made</span><a href="#" class="portfolio" title="My Portfolio" tabindex="-1">My Portfolio</a></li>
        <li><span>Posts & Opinions</span><a href="#" class="blog" title="My Blog" tabindex="-1">My Blog</a></li>
        <!--<li><span>Experiments I conducted</span><a href="#" class="labs" title="My Lab" tabindex="-1">My Lab</a></li>
        <li><span>Where you can find me</span><a href="#" class="contact" title="Contact Me" tabindex="-1">Contact Me</a></li>-->
      </ul>
    </div>
  </nav>
  <body>

  {% include header.html %}


  <!-- <div class="page-content">-->
    <div class="container-fluid"> <!-- <div class="wrapper">-->
        {{ content }}

    </div><!--  </div>-->
  {% include clients.html %}
    {% include footer.html %}

  </body>

</html>
