<!DOCTYPE html> <!-- default index template -->
<html lang="en">


  {% include head.html %}
  {% include nav.html %}

  <body>
    {% include hero.html %}

    {% include latest_post.html %}

    {% include project-grid.html %}

    {% include footer.html %}

  <script>
// Check that service workers are registered
if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/sw.js')
    .then(function(registration){
      console.log('Success! SW registered', registration.scope);
    })
    .catch(function(error){
      console.error('Failure!', error);
    });
    if (navigator.serviceWorker.controller){
      window.addEventListener('load', function() {
        navigator.serviceWorker.controller.postMessage('clean up caches');
      });
    }
}

// Check that service workers are registered
// if ('serviceWorker' in navigator) {
//   // Use the window load event to keep the page load performant
//   window.addEventListener('load', () => {
//     navigator.serviceWorker.register('/sw.js');
//   });
// }
</script>


  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="js/jq-1-12-4.min.js"></script> -->
   <!-- Latest compiled and minified JavaScript -->
   <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- <script  src="js/bootstrap.min.js"></script> -->
   <!-- Latest compiled and minified JavaScript -->
   <!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script> -->
   <!-- <script  src="js/jasny-bootstrap.min.js"></script> -->

   <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- <script async src="js/jq-3-3-1.min.js"></script> -->
   <script async src="{{ "js/app.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
