---
layout: default
---

<style media="screen">
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
</style>

<div class="post">
  <div class="row">
    <div class="col-md-12 text-center">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
          {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{
          page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif
          %}
        </p>
      </header>
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3"
      style="margin-bottom: 5%;"
    >
      <article class="post-content">
        {{ content }}
      </article>
    </div>
  </div>
  {% include project-grid.html %} {% include book.html %}
</div>
